.contact {
    margin-bottom: 6.5rem;
}

.contact-container {
    grid-template-columns: 4fr 8fr;
    column-gap: 1.875rem;
}

.contact-title {
    font-size: var(--h3-font-size);
    margin-bottom: .5rem;
}

.contact-form-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.5rem;
}

.contact-form-item {
    position: relative;
    margin-bottom: 1.875rem;
    height: 3.75rem;
}

.form-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: var(--shadow);
    background-color: var(--container-color);
    color: var(--text-color);
    border: none;
    outline: none;
    border-radius: 1.875rem;
    padding: .65rem 1.875rem;
    z-index: 1;
}

.form-area {
    height: 10.5rem;
    padding: .5rem;
}

.form-area textarea {
    resize: none;
}

@media screen and (max-width: 800px) {
    .contact-form-group {
        display: grid;
        grid-template-columns: 1fr;
    }
    .contact-form-item {
        margin-bottom: 1.25rem;
        height: 3.25rem;
    }
    .form-area {
        height: 7.5rem;
    }
}

@media screen and (max-width: 500px) {
    .contact-container {
        grid-template-columns: 1fr;
    }
    .contact-form-item {
        margin-bottom: .75rem;
        height: 3rem;
    }
    .form-area {
        height: 5rem;
    }
}